<div class="container">
    <div class="footer-row">
        <div class="footer-content">
            <!-- logo -->
            <a href="#" class="logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img">
                <h1 class="logo__title">grocerymart</h1>
            </a>
            <p class="footer-content__tagline">Customer is King</p>
            <!-- About Us -->
            <h3 class="footer-content__heading">About Us</h3>
            <p class="footer-content__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi ab nobis
                sequi sed quisquam, incidunt ea
                quidem officiis ullam unde!</p>
            <!-- Contact Us -->
            <h3 class="footer-content__heading">Contact Us</h3>
            <div class="footer-content__contact">
                <img src="./assets/icons/phone.svg" alt="" class="icon">
                <a href="tel:+84325509336" class="footer-content__desc">+84 325 009 336</a>
            </div>
            <div class="footer-content__contact">
                <img src="./assets/icons/email.svg" alt="" class="icon">
                <a href="mailto:dyquang5083@gmail.com">dyquang5083@gmail.com</a>

            </div>
        </div>
        <div class="footer-content">
            <h3 class="footer-content__heading">Information</h3>
            <a href="#!">About Us</a>
            <a href="#!">More Search</a>
            <a href="#!">Blog</a>
            <a href="#!">Testimonials</a>
            <a href="#!">Events</a>
        </div>
        <div class="footer-content">
            <h3 class="footer-content__heading">Helpful Links</h3>
            <a href="#!">Services</a>
            <a href="#!">Supports</a>
            <a href="#!">Terms & Condition</a>
            <a href="#!">Privacy Policy</a>
        </div>
        <div class="footer-content">
            <h3 class="footer-content__heading">Subcribe More Info</h3>
            <div class="footer-form">
                <div class="footer-form__input">
                    <img src="./assets/icons/email.svg" class="icon footer-form__icon" alt="">
                    <input type="email" class="footer-form__text" placeholder="Enter your email">
                </div>
                <button class="footer-form__btn primary-btn" type="submit">Subcribe</button>
            </div>
        </div>
    </div>
    <div class="footer-separate icon"></div>
    <div class="footer-row">
        <a href="https://www.facebook.com/quang.ma.140193" class="footer-social icon"><img src="./assets/icons/facebook.svg" alt=""></a>
        <a href="https://www.google.com.vn/" class="footer-social icon"><img src="./assets/icons/google.svg" alt=""></a>
        <a href="#!" class="footer-social icon"><img src="./assets/icons/twiter.svg" alt=""></a>
        <a href="https://www.instagram.com/dywuan.g/" class="footer-social icon"><img src="./assets/icons/instagram.svg" alt=""></a>
    </div>
</div>